body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    height: 100vh;

    justify-content: center;
    align-items: center;

    color: #E5E5E5;

    font-family: 'Inter', sans-serif;

    background-color: rgba(0,0,0,0.7);
}

.mobile {
    width: 300px;
    height: 600px;

    padding: 20px;

    border-radius: 20px;
    border: 8px solid #222;

    box-shadow: 0 0 20px rgba(0,0,0,0.3);

    background: url('../images/blackpeople.jpeg') 100% 100% no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;

    overflow: hidden;
}

@media screen and (max-height: 900px) {
    .mobile {
        height: 100%;
        width: 100%;
        border: none;
    }

    .content {
        padding: 20px;
    }
}