.content {
    height: 100%;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
    font-family: 'Inter', sans-serif;
}

.content h1 {
    font-size: 28px;
    text-align: center;
}

.content input {
    width: 100%;

    padding: 12px;

    border-radius: 20px;
    
    font-size: 18px;

    color: #E5E5E5;

    background-color: #444;
    border: none;
}

.content input::placeholder {
    color: rgba(229,229,229, 0.4);
}

.content input:focus {
    
    outline: none;
}

.controls {
    display: flex;
    flex-direction: row;
}

.controls button {
    margin-left: 5px;
    padding: 0 15px;

    border: none;
    border-radius: 12px;

    font-size: 16px;
    font-weight: 700;

    color: #E5E5E5;
    background-color: #1E2786;

    transition: background-color 0.4s ease;
}

.controls button:hover {
    background-color: #3632a0;
}