.content {
    height: 100%;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.content h1 {
    font-size: 28px;
    text-align: center;
}

.content button {
    width: 100%;
    
    padding: 16px 8px;
    margin-bottom: 12px;

    color: #E5E5E5;
    background-color: #1E2786;

    border: none;
    border-radius: 40px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;

    transition: background-color 0.4s ease;
}

.content button:hover {
    background-color: #3632a0;
}









