.close {
    background: none;

    font-size: 20px;

    color: #E5E5E5;

    border: none;

    align-self: flex-start;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    width: 30px;
    margin-right: 5px;
}

h2, h3, p {
    margin: 0;
}

h3 {
    font-weight: 400;
    font-size: 14px;
}

.buttons {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 10px;
}

.buttons button {
    width: 47%;

    padding: 16px 8px;
    margin-bottom: 12px;

    color: #E5E5E5;

    border: none;
    border-radius: 40px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;

    transition: background-color 0.4s ease;
}

.yes {
    background-color: #1E2786;
}

.yes:hover {
    background-color: #3632a0;
}

.no {
    background-color: #ce404e;
}

.no:hover {
    background-color: #C6515C;
}

.content {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 20px;
}

.down {
    width: 100%;
    margin-top: auto;
    margin-bottom: 30px;
    align-self: flex-end;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.description p {
    font-size: 12px;
    margin-bottom: 3px;
}

.line {
    width: 80%;
    height: 3px;
    background-color: #E5E5E5;

    border-radius: 10px;
}

.buttons {
    margin-top: 20px;
}

.movie-poster {
    height: 25%;
    display: block;
    margin: 0 auto; /* Добавляем margin: 0 auto; для центрирования по горизонтали */
}
